{% extends "courses/base.html" %}

<!-- block content -->
{% block js_scripts %}
<!-- top.js -->
{% include "courses/js/top.js" %}
<!-- endblock -->
{% endblock %} {% load rename_assignment %}

<!-- block content -->
{% block content %}
<div
  style="
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
    z-index: 99;
  "
  onclick="topFunction()"
  id="toTopBtn"
  title="Go to top"
  class="bg-pink-200 text-pink-800 px-3 py-1 rounded-full uppercase text-xs"
>
  Go to top
</div>

<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
  <div class="container mx-auto text-center">
    <div class="text-center pb-12">
      <h1
        class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900"
      >
        {{ homework.course.name }}
      </h1>
      <h2 class="text-base py-8 font-bold text-indigo-600">
        {{ homework.name }}
      </h2>
      {% if student %}
      <h2 class="text-base pt-2 font-bold text-indigo-800">
        Hello, {{ student }}! Please check out the assignments.
      </h2>
      {% endif %}
    </div>
    <!-- loop assignments -->
    {% for assignment in assignments %}
    <div class="w-full px-4 py-3 bg-white shadow-md rounded-md my-8">
      <div class="flex justify-between items-center">
        {% if assignment.song %}
        <span
          class="font-light text-md bg-green-200 text-green-800 rounded-full px-3 py-1"
        >
          {{ assignment.song.name }}
          <!-- page -->
          {% if assignment.song.page %}
          <span class="text-sm"> &bull; ({{ assignment.song.page }}) </span>
          {% endif %}
        </span>
        {% else %}
        <span
          class="font-light text-md bg-gray-400 text-gray-800 rounded-full px-3 py-1"
        >
          Workbook
        </span>
        {% endif %}
        <!-- gala indicator -->
        {% if assignment.song.gala_piece %}
        <span
          class="bg-red-200 text-red-800 px-3 py-1 rounded-full uppercase text-xs"
        >
          Gala Piece
        </span>
        {% endif %}
        <span
          class="bg-indigo-200 text-indigo-800 px-3 py-1 rounded-full uppercase text-xs"
        >
          {{ assignment.name|rename_assignment }}
        </span>
      </div>
      <div>
        <h1 class="text-lg font-semibold text-gray-800 mt-2">
          {{ assignment.text|safe }}
          <!-- show solfege -->
          {% if show_solfege and assignment.song.solfege %}
          <span class="text-xs text-gray-600">
            <br />
            ({{ assignment.song.solfege }})
          </span>
          {% endif %}
        </h1>
        {% if assignment.song.upload %}
        <div class="flex items-center justify-center mt-4">
          <audio controls>
            <source src="{{ assignment.song.upload.url }}" type="audio/mpeg" />
          </audio>
        </div>
        {% endif %}
      </div>
    </div>
    <!-- endfor -->
    {% endfor %}
    <!-- block student -->
    {% if student %}
    <h2 class="text-base py-4 font-bold text-indigo-800">
      Good job, {{ student }}!
    </h2>
    {% endif %}
    <!-- prev/next buttons -->
    {% if assignments %}
    <br />
    <div class="flex justify-between items-center">
      {% if newer %}
      <a
        href="{% url 'courses:assignments' code=homework.course.code name=newer %}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#FFC300"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-9 h-9"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953l7.108-4.062A1.125 1.125 0 0121 8.688v8.123zM11.25 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953L9.567 7.71a1.125 1.125 0 011.683.977v8.123z"
          />
        </svg>
      </a>
      {% else %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="#E0115F"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
        />
      </svg>

      {% endif %}

      <a href="{% url 'courses:homeworks' code=homework.course.code %}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#1233ad"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-12 h-12"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
          />
        </svg>
      </a>

      {% if older %}
      <a
        href="{% url 'courses:assignments' code=homework.course.code name=older %}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#FFC300"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-9 h-9"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062A1.125 1.125 0 013 16.81V8.688zM12.75 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062a1.125 1.125 0 01-1.683-.977V8.688z"
          />
        </svg>
      </a>
      {% else %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="#E0115F"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
        />
      </svg>
      {% endif %}
    </div>
    {% endif %}
  </div>
  {% if not assignments %}
  <div class="container mx-auto text-center">
    <div class="text-gray-600 font-light">
      <h1
        class="font-black uppercase text-3xl lg:text-5xl text-indigo-500 mb-10"
      >
        Assignments seem to be on the way!
      </h1>
      <p>Come back later for amazing materials.</p>
    </div>
    <div class="mb-20 md:mb-0">
      <a
        href="{% url 'courses:homeworks' homework.course.code %}"
        class="button text-lg font-light outline-none focus:outline-none transform transition-all hover:scale-110 text-indigo-500 hover:text-indigo-600"
      >
        Go Back
      </a>
    </div>
  </div>
  {% endif %}
</section>
<!-- endblock -->
{% endblock %}
