<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="Learn Music" />
    <title>Learn Music</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="https://cdn1.iconfinder.com/data/icons/material-apps/512/icon-music-material-design-512.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://cdn1.iconfinder.com/data/icons/material-apps/512/icon-music-material-design-512.png"
    />
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <div class="bg-gray-200 text-center">
        <div class="flex flex-wrap place-items-center">
          <section class="relative mx-auto">
            <nav class="flex justify-between bg-gray-900 text-white w-screen">
              <div class="px-5 xl:px-12 py-6 flex w-full items-center">
                <a class="text-3xl font-bold font-heading" href="/">
                  <img
                    class="h-9"
                    src="https://cdn1.iconfinder.com/data/icons/material-apps/512/icon-music-material-design-512.png"
                    alt="logo"
                  />
                </a>
                <ul
                  class="
                    flex
                    px-4
                    mx-auto
                    font-semibold font-heading
                    space-x-12
                  "
                >
                  <li>
                    <a
                      class="hover:text-gray-200"
                      href="{% url 'courses:courses' %}"
                    >
                      Courses
                    </a>
                  </li>
                  <li>
                    <a
                      class="hover:text-gray-200"
                      href="{% url 'courses:contact_us' %}"
                    >
                      Contact Us
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </section>
        </div>
      </div>
      <div class="bg-gray-100 p-6 flex-grow">
        {% block content %}{% endblock %}
      </div>
      <div class="bg-gray-200 p-6 h-24 text-center">
        <p>&copy; Copyright 2021 by Coding Armadillo</p>
        <p>
          Version:
          <span class="font-semibold text-indigo-900">{{ VERSION }}</span> -
          Built with
          <a class="hover:text-green-800" href="https://www.djangoproject.com">
            Django
          </a>
          and
          <a class="hover:text-blue-400" href="https://tailwindcss.com">
            tailwindcss
          </a>
        </p>
      </div>
    </div>
  </body>
</html>
