{% extends "courses/base.html" %}

<!-- block content -->
{% block content %}
<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
  {% if cards %}
  <div class="text-center pb-12">
    <h1
      class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900"
    >
      {{ title }}
    </h1>
    {% if subtitle %}
    <h2 class="text-base py-2 font-bold text-indigo-600">{{ subtitle }}</h2>
    {% endif %}
    <!-- block extra -->
    {% block extra %} {% endblock %}
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6"
  >
    <!-- loop cards -->
    {% for card in cards %}
    <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
      <div class="flex justify-center md:justify-end -mt-16">
        <img
          class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500"
          src="{{ card.image_url }}"
        />
      </div>
      <div>
        <h2 class="text-gray-800 text-3xl font-semibold">
          <a href="{{ card.url }}"> {{ card.name }} </a>
        </h2>
        <div class="mt-2 text-gray-600">{{ card.description|safe }}</div>
      </div>
      <div class="flex justify-end mt-4">
        <a href="{{ card.url }}" class="text-xl font-medium text-indigo-500">
          Go to {{ card.link_text }}
        </a>
      </div>
    </div>
    <!-- endfor -->
    {% endfor %}
  </div>
  {% else %}
  <div class="container mx-auto text-center">
    <div class="text-gray-600 font-light">
      <h1
        class="font-black uppercase text-3xl lg:text-5xl text-indigo-500 mb-10"
      >
        What you are looking for seems to be on the way!
      </h1>
      <p>Come back later for amazing materials.</p>
    </div>
    <div class="mb-20 md:mb-0">
      <a
        href="{{ null_link }}"
        class="button text-lg font-light outline-none focus:outline-none transform transition-all hover:scale-110 text-indigo-500 hover:text-indigo-600"
      >
        Go Back
      </a>
    </div>
  </div>
  {% endif %}
</section>
<!-- endblock -->
{% endblock %}
