{% extends "courses/base.html" %}

<!-- block content -->
{% block content %}

<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
  <div class="text-center pb-12">
    <h2 class="text-base font-bold text-indigo-600">
      We may have the best music education
    </h2>
    <h1
      class="
        font-bold
        text-3xl
        md:text-4xl
        lg:text-5xl
        font-heading
        text-gray-900
      "
    >
      Check our awesome courses
    </h1>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6"
  >
    <!-- loop courses -->
    {% for course in courses %}

    <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
      <div class="flex justify-center md:justify-end -mt-16">
        <img
          class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500"
          src="{{ course.image_url|default:'https://cdn4.iconfinder.com/data/icons/common-toolbar/36/Help-2-512.png' }}"
        />
      </div>
      <div>
        <h2 class="text-gray-800 text-3xl font-semibold">{{ course.name }}</h2>
        <p class="mt-2 text-gray-600">
          {{ course.description|default:"Welcome to class" }}
        </p>
      </div>
      <div class="flex justify-end mt-4">
        <a
          href="{% url 'courses:homeworks' course.code %}"
          class="text-xl font-medium text-indigo-500"
        >
          Go to {{ course.code|upper }}
        </a>
      </div>
    </div>

    <!-- endfor -->
    {% endfor %}
  </div>
</section>

<!-- endblock -->
{% endblock %}
